@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in;
  }
  
  .animate-pageTurn {
    animation: pageTurn 0.15s ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes pageTurn {
    from {
      opacity: 0.7;
    }
    to {
      opacity: 1;
    }
  }
}
